APP_NAME="Almaida Erwin - Calendar Chemical Testing"
APP_ENV=local
APP_KEY=base64:BzE9FmLC7zz0Km8XPJaIVFHeFwjor8NzawzeKc7izYE=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://almaidaapp.my.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=almaidaa_calendar
DB_USERNAME=almaidaa_calendar
DB_PASSWORD=L3vvdZz7gq5J4vExFryZ

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
MAIL_MAILER=smtp
MAIL_HOST=mail.almaidaapp.my.id
MAIL_PORT=587
MAIL_USERNAME=info@almaidaapp.my.id
MAIL_PASSWORD='@mnprasetya12'
# MAIL_ENCRYPTION=STARTTLS
MAIL_FROM_ADDRESS="info@almaidaapp.my.id"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ONESIGNAL_APP_ID='3ef9d239-a4ea-41a5-8194-784ae2543406'
ONESIGNAL_REST_API_KEY='os_v2_app_h345eone5ja2lamupbfoevbuay6slbd6oetedov45ovp3qzdc5fczvw3kcnvatog46e5qcdtsqfrhru6z6ffgpwnovj6or7eg5vxwbq'
# ONESIGNAL_USER_AUTH_KEY=your-onesignal-user-auth-key

